// Title
.carouselTitle {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	line-height: 1;
	top: -65px;
}

.cymkcarousel {
	position: relative;
	width: 100%;
	@include flex-center();
}

.carouselControl {
	position: absolute;
	background-color: #fff;
	color: #ccc;
	border: none;
	font-size: 72px;
	width: 200px;
	height: 100%;
	@include flex-center();
	cursor: pointer;

	&:hover {
		color: #ccc;
		text-decoration: none;
	}

	&.leftArrow  { left: 0px; }
	&.rightArrow { right: 0px; }
}

.carouselSlide { @include flex-center(); }

.carouselCard {
	margin: 0 20px;
	cursor: pointer;

	&:first-of-type { margin-left: 0; }
	&:last-of-type  { margin-right: 0; }
}

.carouselImage {
	width: 250px;
}

.carouselDotContainer {
	position: absolute;
	margin: 0;
	bottom: -50px;
	cursor: default;
}

.carouselDot {
	display: inline-block;
	height: 15px;
	width: 15px;
	border: 2px solid #ccc;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;

	&:hover {
		background-color: #000;
		border-color: #000;
	}
}