// Title
.carouselTitle {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;

	@media (min-width: 768px) { 
		font-size: 2em;
	}
}

// Carousel
.cymkcarousel {
	position: relative;
	width: 100%;
	@include flex-center(column);

	& > { flex: 1; }

}

.carouselWrapper {
	margin: 40px 0;
	padding-left: 50px;
	padding-right: 50px;

	@media (max-width: 768px) {
		margin: 20px 0;
	}
}


// Images
.carouselCard {
	cursor: pointer;
	max-width: 50%;

	@media (max-width: 768px) {
		padding: 8px;
	}
}


// Controls
.carouselControl {
	position: absolute;
	background-color: #fff;
	color: #ccc;
	border: none;
	font-size: 72px;
	height: 100%;
	@include flex-center();
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.25s ease-in;


	@media (min-width: 768px) {
		&:hover, &:focus {
			opacity: 1;
		}
	}

	&.leftArrow  { 
		left: 0px;

		@media (min-width: 768px) {
			padding-right: 40px;
		}
	}

	&.rightArrow { 
		right: 0px;

		@media (min-width: 768px) {
			padding-left: 40px;
		}
	}
}

.carouselControlActive {
	@media (min-width: 768px) {
		opacity: 1;
	}
}

.carouselDotContainer {
	margin: 0;
	cursor: default;
}

.carouselDot {
	display: inline-block;
	height: 15px;
	width: 15px;
	border: 2px solid #ccc;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;

	&:hover, &.active {
		background-color: #000;
		border-color: #000;
	}
}