// Centers the items content vertically and horizontally using flexbox
@mixin flex-center($direction: row) {
	display: flex;
	flex-direction: $direction;
	align-items: center;
	justify-content: center;
}